<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/response.css">
</head>

<body>

    <div id="lndpge">
        <h1 class="clm">ln~space</h1>
        <div id="line"></div>
        <h2 class="clms">make your community better</h2>
    </div>

    <div id="top-fix">
        <div id="logo">l<span>n</span>~space
            <div id="l">
                <img src="./images/logo.png" alt="">
            </div>
            <div id="line"></div>
            <div id="txt">make your community better</div>
        </div>
        <div id="dep">college </div>
        <div id="cret">student hub</div>
        <div id="evt">events</div>

        <div id="window1" class="windo">
            <div id="lgn">
                log-in
            </div>
            <div id="sgn">sign-in</div>
        </div>

        <div class="pges">
            <img id="im1" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z'/%3E%3C/svg%3E" alt="">
            <form action="/signIn">
                <label class="lbl" id="usr" for="username">username:</label>
                <input class="inp" id="usri" type="username" name="username" placeholder="username">
                <label class="lbl" id="ema" for="email">email:</label>
                <input class="inp" id="emai" type="email" name="email" placeholder="email">
                <label class="lbl" id="pas" for="password">password:</label>
                <input class="inp" id="pasi" type="password" name="password" placeholder="password">
                <input id="sub" type="submit" value="sign-in">
            </form>
            <img id="im2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z'/%3E%3C/svg%3E" alt="">
        </div>

        <div class="pges1">
            <img id="im1" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M4 22a8 8 0 1 1 16 0h-2a6 6 0 1 0-12 0H4zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6 6 2.685 6 6-2.685 6-6 6zm0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4z'/%3E%3C/svg%3E" alt="">
            <form action="">
                <label class="lbl" id="ema" for="email">email:</label>
                <input class="inp" id="emai" type="email" name="email" placeholder="email">
                <label class="lbl" id="pas" for="password">password:</label>
                <input class="inp" id="pasi" type="password" name="password" placeholder="password">
                <input id="sub" type="submit" value="log-in">
            </form>
            <img id="im2" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z'/%3E%3C/svg%3E" alt="">
        </div>


    </div>

    <div id="ln">
        <h1>lnct</h1>
        <h2>group of colleges</h2>
        <div id="line">
            <div id="l1"></div>
            <div id="l2"></div>
            <div id="l3"></div>
        </div>
    </div>
    <div id="bg">


        <div id="main">
            <div id="m1">
                <div id="text">
                    <div id="txt">
                        <div id="t1">Tech and cultural </div>
                        <div id="l1"></div>
                        <div id="t2"> events</div>
                    </div>
                    <div id="txt1">
                        <div id="t1">summits, conferences and</div>
                        <div id="l1"></div>
                        <div id="t2">many more</div>
                    </div>

                </div>
                <div id="ltlg">23°15'05.9"N 77°31'29.0"E
                </div>
                <img id="icn" src="./images/white-location-icon-png-location-logo-png-white-11562856661b4wsud8br0.png" alt="">
                <div id="box"></div>
                <div id="box1"></div>
                <div id="box2"></div>

                <div id="evntbd">
                    <div id="evntbox">
                        <div class="evnthdr">
                            <div class="evnts">
                                <div id="evntnam">sprint web</div>
                                <div id="dte">on 5th & 6th sep 2022</div>
                                <div id="time">from 10:30 a.m - 5:00 p.m</div>
                                <div id="org">by it department</div>
                            </div>
                        </div>
                        <div class="evnthdr">
                            <div class="evnts">
                                <div id="evntnam">codevita</div>
                                <div id="dte">on 15th sep 2022</div>
                                <div id="time">from 10:30 a.m - 1:00 p.m</div>
                                <div id="org">by cse department</div>
                            </div>
                        </div>
                        <div class="evnthdr">
                            <div class="evnts">
                                <div id="evntnam">futsal</div>
                                <div id="dte">on 12th - 15th sep 2022</div>
                                <div id="time">from 10:30 a.m - 5:00 p.m</div>
                                <div id="org">by sports department</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="vid"></div>

            </div>

            <div id="m2">
                <div id="crd1">
                    <div id="l1"></div>
                    <div id="dot1"></div>
                    <div id="dot2"></div>
                </div>
                <div id="crd2">
                    <div id="l1"></div>
                    <div id="dot1"></div>
                    <div id="dot2"></div>
                </div>
                <div id="text">
                    <h2>Join The League of Achievers!</h2>
                    <h1>Born in semi urban city of Bilaspur (C.G.),Shri Jai Narain Chouksey, completed his post
                        graduation from Robertson College, Jabalpur. He established Lakshmi Narain College of Technology
                        (LNCT), Bhopal in 1994 under the banner of H. K. Kalchuri Educational Trust. Since then, With
                        the commitment of “Working Towards Being the Best”, LNCT Group has achieved many milestones. The
                        institute is successfully meeting the objective of producing skilled manpower of the highest
                        quality who is able to cope up with the challenges of ever evolving industrial needs of the
                        country.The Alumni of LNCT Group are working all across the Globe in Big Multi National
                        Companies.

                        Today, LNCT Group is one of the Largest and most preferred Educational Group for Engineering,
                        Management, Pharmacy, Medical with ISO-9001 certification and NBA accreditation for many
                        Engineering courses.. Bright young students from all across the country are coming to fulfill
                        their dream in this group.

                        The LNCT Campus at Bhopal is spread over a lush green environment of approx. 50 acres. The
                        campus constitutes of many buildings that houses the academics and research centers. In addition
                        to this, the academic building has tutorial rooms, lecture halls, computer and electronics labs
                        and offices of the administrations and faculty. The campus is fully equipped with facilities
                        like Wi-Fi,central library (digital library, Internet lab), digital classrooms, hostel,
                        mess,Central workshop, Auditorium Sports Ground etc.</h1>
                </div>
            </div>
            <div id="m3">

            </div>
            <div id="m4"></div>


        </div>



    </div>












    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"
        integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/ScrollTrigger.min.js"
        integrity="sha512-v8B8T8l8JiiJRGomPd2k+bPS98RWBLGChFMJbK1hmHiDHYq0EjdQl20LyWeIs+MGRLTWBycJGEGAjKkEtd7w5Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
        integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.js"
        integrity="sha512-f+oBYjKYemdim4hxvBI29tx1aphY5ffbTlSyN+B1u8YEOAarGu4rBJ++cVzedldrScbJ1Po/rArrrgAFpOXcvg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/textillate/0.4.0/jquery.textillate.js"
        integrity="sha512-W34u50glG4BGJQE61qQBXoc10jT2+Ur0HTWV5/BmEPJnf6TMsnTT/5daQKXkay+uPxv86a2S42Pl4aDdnkE5mA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="./javascripts/script.js"></script>
</body>

</html>